<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
      <style>
  table, th, td {
  border:1px solid black;
  }
  </style>
</head>
<body>
<table style="width:100%">
<tr>
<th>pizza_id</th>
<th>name</th>
<th>ingredients</th>
<th>price</th>
</tr>
{%for pizza in data%}
<tr>
<td>{{pizza[0]}}</td>
<td>{{pizza[1]}}</td>
<td>{{pizza[2]}}</td>
<td>{{pizza[3]}}</td>
</tr>
{%endfor%}
</table>
<button class="btn" type="button" onclick="window.location.href='{{url_for('main_page')}}';">
    Main page</button> <br/>
<button class="btn" type="button" onclick="window.location.href='{{url_for('add_pizza')}}';">
    Add pizza</button> <br/>
</body>
</html>